html, body{
	margin: 0;
}

body{
	width: 100%;
	margin-bottom: 5%;
	
	background: url(img/background.jpg) 50% 50% no-repeat;
	background-size: cover;
}
/*#menu{
	min-height: 40px;
}
*/

#title{
	/*min-height: ;*/
	margin-top: 10%;
	margin-bottom: 0%;
}

#body{
	min-height: 300px;
	padding: 10px 20px;
	margin-bottom: 70px;
	
	background: rgba(220,220,220,0.56);
	border-radius: 15px 0 15px 0;
	/*optional*/
	box-shadow: 0px 25px 15px -7px rgba(220,220,220,0.3);	
}
/*
#footer{
	min-height: 100px;
	margin-top: 3%;
}
*/
#title,#menu, #body, #footer{
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	font-family: 'Russo One', sans-serif;
	color: #FFFFFF;
}
p{
	text-align: justify;
	font-family: 'PT Mono', monospace;
	color: #FFFFFF;
}

.button-container{
	display: inline-flex;
	justify-content: center;
	flex-wrap: wrap;

}

.zurAusstellungButton{
	padding: 10px 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	
	width: 250px;
	

	font-family: 'Oxygen Mono', monospace;
	font-size: 14px;
	
	background-color: #EE00EE;
	color: #FFFFFF;

	border: solid 3px #EE00EE;
	border-radius: 5px ;
}

.ueberDieAusstellungButton{
	padding: 10px 30px;
	margin-right: 10px;
	margin-bottom: 10px;
	
	width: 250px;

	font-family: 'Oxygen Mono', monospace;
	font-size: 14px;
	
	background-color: rgba(0,0,0,0);
	color: #FFFFFF;
	
	border: solid 3px #EE00EE;
	border-radius: 5px ;
}

@viewport{
	zoom: 1.0;
	width: extend-to-zoom;
}
@-ms-viewport{
	width: extend-to-zoom;
	zoom: 1.0;
}
