html, body{
	
	margin: 0;
}

body{
	width: 100%;
	margin-bottom: 5%;
	
	background: url(img/background.jpg) 50% 50% no-repeat;
	background-size: cover;
}

/*#menu{
	min-height: 40px;
}
*/

#title{
	/*min-height: ;*/
	margin-top: 10%;
	margin-bottom: 0%;
}

#body{
	min-height: 300px;
	padding: 10px;
	
	background: rgba(220,220,220,0.56);
	border-radius: 15px 0 15px 0;
	/*optional*/
	box-shadow: 0px 25px 15px -7px rgba(220,220,220,0.3);
	
}
/*
#footer{
	min-height: 100px;
	margin-top: 3%;
}
*/
#title,#menu, #body, #footer{
	margin-left: 10%;
	margin-right: 10%;
}

h1{
	font-family: 'Russo One', sans-serif;
	color: #FFFFFF;
}
p{
	font-family: 'Hind Siliguri', sans-serif;
	color: #FFFFFF;
}

.button-container{
	

}

.zurAusstellungButton{
	padding: 10px 30px;
	
	background-color: #ff66ff;
	color: #FFFFFF;

	border: solid 3px #ff66ff;
	border-radius: 5px ;
}

.aboutUsButton{
	padding: 10px 30px;
	
	background-color: rgba(0,0,0,0);
	color: #FFFFFF;
	
	border: solid 3px #ff66ff;
	border-radius: 5px ;
}


.btn-lg{
	width: 40%;
	height: 20px;
	color: #FFFFFF;
}




@viewport{
	zoom: 1.0;
	width: extend-to-zoom;
}
@-ms-viewport{
	width: extend-to-zoom;
	zoom: 1.0;
}

/* Kleine Geräte (Tablets, 768px und breiter) */
@media (min-width: 768px){




}

/* Mittlere Geräte (Desktop-PCs, 992px und breiter) */
@media (min-width: @screen-md-min) { ... }

/* Große Geräte (Desktop-PCs, 1200px und breiter) */
@media (min-width: @screen-lg-min) { ... }


